<h1>Post a job!</h1>
<form action="/job" method="post">
  <label for="new-title">Add a title of job</label>
  <input id="new-title" name="new-title" type="text">
  <label for="new-description">Add a description</label>
  <input id="new-description" name="new-description" type="text">
  <label for="new-name">Add a contact name</label>
  <input id="new-name" name="new-name" type="text">
  <label for="new-phoneNumber">Add a contact phone number</label>
  <input id="new-phoneNumber" name="new-phoneNumber" type="text">
  <label for="new-email">Add a contact email</label>
  <input id="new-email" name="new-email" type="text">
  <button type="submit">Submit</button>
</form>
