<h1>Play the Word Counter!</h1>
<form action="/word" method="post">
  <label for="new-word">Add Words/Sentence</label>
  <input id="new-word" name="new-word" type="text">
  <button type="submit">Submit</button>
</form>

<form action="/wordcounter/delete" method="post">
  <button type="submit" name="button">Clear All Words</button>
</form>
