@{
Layout = "_Layout";
}

<div class="jumbotron"><h1>Play the Word Counter!</h1></div>
<div class="container">
<form action="/word" method="post">
  <label for="new-word">Add Words/Sentence</label>
  <input id="new-word" name="new-word" type="text">
  <hr>
  <label for="new-result">Find Matching Words</label>
  <input id="new-result" name="new-result" type="text">
  <hr>
  <button class="w3-button w3-green" type="submit">Submit</button><div>
</form>
</div>
