@{
  Layout = "_Layout";
}
<div class="container">
<h3>WordCounter Result</h3>
  <p>User Input: "@Model.GetUserInput()"</p>
  <hr>
  <p>Result: "@Model.GetUserResult()"</p>
  <hr>
  <p>Matches: "@Model.GetUserInput()" was found @Model.GetCountMatch() times.</p>
</div>
<a href="/word/new"><h1>Play Again?<h1></a>
