<h1>Play the Word Counter!</h1>
<form action="/word" method="post">
  <label for="new-word">Add Words/Sentence</label>
  <input id="new-word" name="new-word" type="text">
  <label for="new-result">Find Matching Words</label>
  <input id="new-result" name="new-result" type="text">
  <button type="submit">Submit</button>
</form>
